<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>281641475589-41245kig27hul9q2f9rc80hk2qtv77ps.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.281641475589-41245kig27hul9q2f9rc80hk2qtv77ps</string>
	<key>API_KEY</key>
	<string>AIzaSyA6-2ypO-Ppc_l6DOH6zu5ApPXyOO2shGU</string>
	<key>GCM_SENDER_ID</key>
	<string>281641475589</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.chatapp</string>
	<key>PROJECT_ID</key>
	<string>chat-app-1591c</string>
	<key>STORAGE_BUCKET</key>
	<string>chat-app-1591c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:281641475589:ios:95cec2eb102ec91e0d066c</string>
</dict>
</plist>